<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header align="center">
      <mat-card-title>Welcome</mat-card-title> 
    </mat-card-header>
    
    <mat-card-content>
      <form class="login-form">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Username</mat-label> 
          <input matInput placeholder="Username">
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label> 
          <input matInput type="password" placeholder="Password">
        </mat-form-field>

        <button mat-flat-button color="primary" class="login-button">
          Login
        </button>
      </form>
    </mat-card-content>

    <mat-card-actions align="start" class="extra-actions">
      <a mat-button color="primary" class="forgot-password">Did you forget your password?</a>
      <hr class="divider">
      <button mat-stroked-button color="accent" class="create-account">
        Create new user
      </button>
    </mat-card-actions>
  </mat-card>
</div>